*{

}

body{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  background-color: #2D3136;
  color: white;
  overflow:hidden;
}

.corpo {
display: grid;
grid-template-columns: 30% 70%;
}

aside{
  background-image: url(assets/Background.png);
  background-size: cover;
   font-family: "Open Sans", sans-serif;
   color: white;
   font-size: 1rem;

   width: 25rem;
   height: 45.5rem;
   padding: 2rem;
  & h1{
      font-family: "Leckerli One", cursive;
      font-size: 2.5rem;
      color: #FF598B;
      margin-top: 1rem;
      margin-bottom: 0.25rem;
  }
  img{
    width: 45px;
  }
  p{
    margin: auto;
  }
}

/* começando a main */

main{
  height: 100vh;
  overflow: auto;
  margin: 5rem 8.13rem;

  & h1{
    font-family: "Baloo 2", sans-serif;
  }
}

main fieldset{
  border: none;
}

legend{
  font-family: "Baloo 2", sans-serif;
  display: flex;
  align-items: center;

  & img{
      height: 24px;
      margin: 0.5rem;
    }

}

input{
  width: 35rem;
  
}